:root{
    --head-text:"Poppins", sans-serif;
    --dark-color: rgb(26, 77, 46);
    --dark-opaque: rgba(26, 77, 46, 0.9);
    --light-color: rgb(186, 205, 146);
    --light-opaque: rgba(186, 205, 146, 0.5)
}

/* fonts */

.header-font{
  font-family: var(--head-text);
  font-weight: 800;
}

/* .sub-header-font{

}

.text-font{

} */

nav{
    background-color: var(--dark-opaque);
    height: 6rem;
    position: fixed;
    z-index: 1;
}

.logo{
    height:6rem;
    width:6rem;
    margin-left: 1rem;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    position: relative;
    top:0px;
  }

.ul-margin{
    margin-top: 1rem;
}

.nav-text{
   text-transform: uppercase;
   font-size: 20px;
   color: var(--light-color);
   text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.mob-menu{
    color:var(--light-color);
    margin-top: 1rem;
}

.hero{
    background-image: url("../images/hero-image.jpg");
    width:100%;
    height:500px;
    background-size: 100% 100%;
    background-position: center center;
    animation: shrink 5s;
}
@keyframes shrink {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 110% 110%;
  }
}

.opaque{
    background-color: rgba(26, 77, 46, 0.5);;
    height: 500px;
    width: 100%;
    position: inherit;
}

.hero-about{
  height:48%;
  width:45%;
  font-family: var(--head-text);
  background-color: rgba(186, 205, 146, 0.2);
  color:var(--dark-color);
  position:relative;
  left:20px;
  bottom:280px;
  border-radius: 2px;
  border:outset 2px #000;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 0.8);
}

.hero-about h2{
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

.hero-about p{
  font-weight: 600;
  font-size: 1.2rem;
  background-color: rgba(186, 205, 146, 0.3);
  padding:20px;
  text-align: justify;
}


.flash-message{
  position: relative;
  top:100px;
  font-family: var(--head-text);
  font-weight: 800;
  color:var(--light-color);
  background-color: var(--dark-color);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  z-index: 5;
  animation: flash 5s;
}
@keyframes flash {
  25%{
    opacity: 0.5;
  }
 100%{
    opacity: 0;
  }
}



/* register page */

.register-login{
  position:absolute;
  top:13%;
  width:100%;
}

/* .align{
  position: relative;
  top:100px;
} */

h3{
  font-size: 3rem;
  color:var(--dark-color)
}

.card-style{
  background-color: var(--light-opaque);
  color: var(--dark-color);
}


/* overriding materialize generic form input colours */

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: rgb(26, 77, 46);;
  -webkit-box-shadow: 0 1px 0 0 rgb(26, 77, 46);;
  box-shadow: 0 1px 0 0 rgb(26, 77, 46);
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
  color: var(--dark-color);
}

.input-field>label{
  color:var(--dark-color);
  font-family:var(--head-text);
  font-weight: 700;
  font-size: 16px;
  margin-left: 2rem;
}

i{
  font-size: x-large;
}

.btn{
  color:var(--light-color);
  background-color: var(--dark-color);
}

.btn:hover{
  color: var(--dark-color);
  background-color: var(--light-color);
}

.account-confirm{
  position: absolute;
  top:95%;
  left:35%;
  color: var(--dark-color);
  font-family: var(--head-text);
  font-weight: 700;
  background-color: var(--light-color);
}

.account-confirm a{
  color: var(--light-color);
  background-color: var(--dark-color);
}

.account-confirm a:hover{
  color: var(--dark-color);
  background-color: var(--light-color);
}

.register{
  top:3%;
  z-index: 2;
}


/* trips.html */

.trip-header{
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: var(--head-text);
  height:150px;
}

.trip-header h4{
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.trip-header p{
  padding-top: 10px;
  padding-left: 10px;
  font-size: 1.3rem;
}

.trip-content{
  background-color: var(--light-color);
  color:var(--dark-color)
}

/* add-trips */

/* override materialize styles */

.dropdown-content {
  background-color: var(--dark-color);
}

.select-dropdown{
  color:var(--dark-color);
  font-family: var(--head-text);
  font-weight: 700;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid var(--dark-color)
}

.select-dropdown li.disabled,.select-dropdown li.disabled>span,.select-dropdown li.optgroup {
  color: var(--light-color);
  background-color: transparent
}

.dropdown-content li>a,.dropdown-content li>span {
  color: var(--light-color);
  font-family: var(--head-text);
  font-weight: 600;
  font-size: 1.2rem;
}