:root{
    --head-text:"Poppins", sans-serif;
    /* --dark-color: rgb(26, 77, 46); */
    --dark-color:#fff;
    /* --dark-opaque: rgba(26, 77, 46, 0.9); */
    --dark-opaque:rgba(255, 255, 255, 0.9);
    --light-color:  rgb(26, 77, 46);
    --light-opaque: rgba(186, 205, 146, 0.5)
}

/* fonts */

.header-font{
  font-family: var(--head-text);
  font-weight: 800;
}

/* .sub-header-font{

}

.text-font{

} */

nav{
    background-color: var(--dark-opaque);
    height: 6rem;
    position: fixed;
    z-index: 1;
}

.logo{
    height:5rem;
    width:5rem;
    margin-left: 1rem;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    position: relative;
    border-radius: 10px;
    top:9%;
  }

.ul-margin{
    margin-top: 1rem;
}

.nav-text{
   text-transform: uppercase;
   font-size: 20px;
   color: var(--light-color);
   text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.mob-menu{
    color:var(--light-color);
    margin-top: 1rem;
}

.hero{
    background-image: url("../images/hero-image.jpg");
    width:100%;
    height:500px;
    background-size: 100% 100%;
    background-position: center center;
    animation: shrink 5s;
}
@keyframes shrink {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 110% 110%;
  }
}

.opaque{
    background-color: rgba(26, 77, 46, 0.5);;
    height: 500px;
    width: 100%;
    position: inherit;
}

.hero-about{
  height:48%;
  width:45%;
  font-family: var(--head-text);
  background-color: rgba(186, 205, 146, 0.2);
  color:var(--dark-color);
  position:relative;
  left:20px;
  bottom:280px;
  border-radius: 2px;
  border:outset 2px #000;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 0.8);
}

.hero-about h2{
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

.hero-about p{
  font-weight: 600;
  font-size: 1.2rem;
  color:var(--light-color);
  background-color: rgba(186, 205, 146, 0.2);
  padding:20px;
  text-align: justify;
}

.par-sign-in{
  color:var(--light-color)
}

.par-sign-in:hover{
  color:var(--dark-color)
}


.flash-message{
  position: absolute;
  top:20px;
  left:33%;
  height:60px;
  width:33%;
  font-family: var(--head-text);
  font-weight: 800;
  color:var(--light-color);
  background-color: var(--dark-color);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  z-index: 5;
  animation: flash 5s;
}
@keyframes flash {
  25%{
    opacity: 0.5;
  }
 100%{
    opacity: 0;
  }
}

/* trips page */

.dark{
  color:var(--light-color)
}

/* override materilize styles */
.input-field .prefix.active {
  color: var(--dark-color)
}


.search-box{
  position: absolute;
  top:100px;
  left:20px;
  border-radius: 10px;
  width:55%;
  height:60px;
  background-color: var(--light-opaque);
}

.input-search{
  color: var(--light-color);
  position: relative;
  top:-30px;
}

.search-btn{
  background-color: var(--light-color);
  height:40px;
  width:40px;
  border-radius: 10px;
  color:var(--dark-color);
  position: relative;
  top:-15px;
}

.search-btn:hover{
  background-color: var(--dark-color);
  color:var(--light-color)
}

.reset-btn{
  display: block;
  background-color: var(--light-color);
  height:40px;
  padding: 6px;
  font-size: 1.3rem;
  width:100px;
  color:var(--dark-color);
  position: relative;
  top:-57px;
  left:120px;
  border-radius: 10px;
}

.reset-btn:hover{
  background-color: var(--dark-color);
  color:var(--light-color)
}

.empty-search{
  background-color: brown;
}

#delete-confirm{
  display: none;
}



/* register page */

.register-login{
  position:absolute;
  top:13%;
  width:100%;
}

/* .align{
  position: relative;
  top:100px;
} */

h3{
  font-size: 3rem;
  color:var(--dark-color)
}

.card-style{
  background-color: var(--light-opaque);
  color: var(--dark-color);
}


/* overriding materialize generic form input colours */

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: rgb(26, 77, 46);;
  -webkit-box-shadow: 0 1px 0 0 rgb(26, 77, 46);;
  box-shadow: 0 1px 0 0 rgb(26, 77, 46);
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
  color: var(--dark-color);
}

.input-field>label{
  color:var(--dark-color);
  font-family:var(--head-text);
  font-weight: 700;
  font-size: 16px;
  margin-left: 2rem;
}

i{
  font-size: x-large;
}

.btn{
  color:var(--light-color);
  background-color: var(--dark-color);
  font-family: var(--head-text);
  font-size: 1.3rem;
  font-weight: 800;
}

.btn:hover{
  color: var(--dark-color);
  background-color: var(--light-color);
}

.account-confirm{
  position: absolute;
  top:95%;
  left:35%;
  color: var(--dark-color);
  font-family: var(--head-text);
  font-weight: 700;
  background-color: var(--light-color);
}

.account-confirm a{
  color: var(--light-color);
  background-color: var(--dark-color);
}

.account-confirm a:hover{
  color: var(--dark-color);
  background-color: var(--light-color);
}

.register{
  top:3%;
  z-index: 2;
}


/* trips.html */

.trip-header{
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: var(--head-text);
  height:250px;
  text-align: center;
  border:solid var(--dark-color) 3px;
  margin-bottom: 12px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(26, 77, 46, 0.8);
}

.trip-header h4{
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

/* override materilaize */

.collapsible-header {
  display:block;
}

/* .trip-header h5{
  padding-top: 10px;
  padding-left: 10px;
  font-size: 1.3rem;
} */

.trip-header p{
  font-family: var(--head-text);
  font-weight: 600;
  text-transform: capitalize;
}

.trip-header-region{
  font-size: 1.3rem;
}


.trip-content{
  background-color: var(--dark-color);
  color:var(--dark-color);
  text-align: center;
  border:solid var(--dark-color) 3px;
  margin-bottom: 12px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(26, 77, 46, 0.8);
}

.trip-content-head{
  color: var(--dark-color);
  font-family: var(--head-text);
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.review-stars{
  position: relative;
  left:30px;
  height:20px;
}

.review-stars i{
  font-size: 1rem;
}

.dark{
  background-color: var(--light-color);
  color:var(--dark-color)
}

.light{
  background-color: var(--dark-color);
  color: var(--light-color)
}

.trip-body, .location{
  height:50%;
  padding:30px;
  margin-bottom: 10px;
  position: relative;
  left:15%;
  width:70%;
  border-radius: 10px;
  font-family: var(--head-text);
  box-shadow:5px 5px 5px rgba(0,0,0,0.2);
}

.trip-body{
  font-weight: 800;
  font-size: 36px;
  text-transform: uppercase;
}

.sub-header{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
}

.address{
  font-weight: 600;
  font-size: 1.2rem;
}



.description-block{
  height:50%;
  padding:30px;
  margin-bottom: 10px;
  position: relative;
  left:5%;
  width:90%;
  font-family: var(--head-text);
  font-weight: 700;
  border-radius: 10px;
  box-shadow:5px 5px 5px rgba(0,0,0,0.2);
}

.description{
  font-size: 1.2rem;
  font-family: var(--head-text);
  text-align: justify;
}

.web-btn{
  margin-top: 20px;
  font-family: var(--head-text);
  font-weight: 800;
  font-size: 1.2rem;
}

.web-btn:hover{
  background-color: var(--dark-color);
  color: var(--light-color);
}

/* add-trips */

/* override materialize styles */

.dropdown-content {
  background-color: var(--dark-color);
}

.select-dropdown{
  color:var(--dark-color);
  font-family: var(--head-text);
  font-weight: 700;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid var(--dark-color)
}

.select-dropdown li.disabled,.select-dropdown li.disabled>span,.select-dropdown li.optgroup {
  color: var(--light-color);
  background-color: transparent
}

.dropdown-content li>a,.dropdown-content li>span {
  color: var(--light-color);
  font-family: var(--head-text);
  font-weight: 600;
  font-size: 1.2rem;
}

/* checkbox styles */

[type="checkbox"]:checked+span:not(.lever):before {
  top: -4px;
  left: -5px;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid var(--dark-color);
  border-bottom: 0px solid var(--dark-color);
}

.blank{
  background-color: var(--light-opaque);
  height:30px;
  width:30px;
  position: relative;
  left:3%;
  top:10px;
  z-index: 2;
}

/* edit trips */

.cancel-btn{
  background-color: rgb(250, 85, 0);
  color:var(--light-color);
  font-family: var(--head-text);
  font-size: 1.3rem;
  font-weight: 800;
}

.cancel-btn:hover{
  background-color: var(--light-color);
  color:rgb(250, 85, 0);
}


/* users page */

.card-style{
  background-color: var(--light-color);
  border:solid 2px rgba(186, 205, 146, 0.7);
  box-shadow: 0 30px 40px rgba(26, 77, 46, 0.6);
}

.card .card-title{
  font-family: var(--head-text);
  text-transform: uppercase;
  font-weight: 800;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.card p{
  font-family: var(--head-text);
  font-weight: 700;
  font-size: 1.2rem;
}

.card .card-action{
  background-color: rgb(186, 205, 146);
}

.push{
  position: relative;
  top:200px;
}

.card-btn{
  font-size: 1rem;
}