:root{
    --head-text:"Poppins", sans-serif;
    --dark-color: rgb(26, 77, 46);
    --dark-opaque: rgba(26, 77, 46, 0.9);
    --light-color: #BACD92;
}


nav{
    background-color: var(--dark-opaque);
    height: 6rem;
    position: fixed;
}

.logo{
    height:6rem;
    width:6rem;
    margin-left: 1rem;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    position: relative;
    top:0px;
  }

.ul-margin{
    margin-top: 1rem;
}

.font{
    font-family: var(--head-text);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 20px;
    color: var(--light-color);
    text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.mob-menu{
    color:var(--light-color);
    margin-top: 1rem;
}

.hero{
    background-image: url("../images/hero-image.jpg");
    width:100%;
    height:500px;
    background-size: 100% 100%;
    background-position: center center;
    animation: shrink 5s;
}
@keyframes shrink {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 110% 110%;
  }
}

.opaque{
    background-color: rgba(26, 77, 46, 0.5);;
    height: 500px;
    width: 100%;
    position: inherit;
    /* z-index: 1; */
}