<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block styles %}
    {% endblock %}
    <title>Trip Discoverer</title>
</head>
<body>
    <header>
        <!-- top navbar -->
        <nav>
            <div class="nav-wrapper">
                <!-- logo home link -->
                <a href="{{ url_for('find_trips') }}">
                    <img class="logo"
                        src="{{ url_for('static', filename='images/icon.png') }}"
                        alt="trip discoverer">
                </a>
                <!-- link to mobile menu dropdown -->
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right">
                    <i class="fas fa-bars mob-menu"></i>
                </a>
                <!-- main menu section of navbar -->
                <ul class="right hide-on-med-and-down ul-margin">
                    <li id="home_page" class="active"><a href="{{ url_for('find_trips') }}" class="nav-text header-font">home</a></li>
                    <!-- only appears if user logged in -->
                    {% if session.user %}
                        <li id="add_trip" class="active"><a href="{{ url_for('add_trip') }}" class="nav-text header-font">add trip</a></li>
                        {% if session.user|lower == "admin"|lower %}
                        <!-- users page for adminm only -->
                            <li id="user_list" class="active"><a href="{{ url_for('user_list') }}" class="nav-text header-font">users</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('logout') }}" class="nav-text header-font">sign out</a></li>
                    {% else %}
                    <!-- only appears if no user logged in -->
                        <li id="sign_in" class="active"><a href="{{ url_for('login') }}" class="nav-text header-font">sign in</a></li>
                        <li id="sign_up" class="active"><a href="{{ url_for('register') }}" class="nav-text header-font">sign up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- mobile collapsible navbar -->
        <ul class="sidenav" id="mobile-demo">
            <li class="h4 center-align font">Trip Discoverer</li>
            <li><a href="{{ url_for('find_trips') }}" class="nav-text header-font">home</a></li>
            {% if session.user %}
                <li><a href="{{ url_for('add_trip') }}" class="nav-text header-font">add trip</a></li>
                {% if session.user|lower == "admin"|lower %}
                    <li><a href="{{ url_for('user_list') }}" class="nav-text header-font">users</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}" class="nav-text header-font">sign out</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}" class="nav-text header-font">sign in</a></li>
                <li><a href="{{ url_for('register') }}" class="nav-text header-font">sign up</a></li>
            {% endif %}
        </ul>
    </header>
    <div id="flashes">
        <!-- flash messages -->
         {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div>
                        <h4 class="center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
                </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>


    {% block content %}
    {% endblock %}

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}

    {% block activeScript %}
    {% endblock %}
</body>
</html>