{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="small-hero">
            <div class="small-opaque"></div>
            <div class="register-login">
                <!-- page header -->
                <h3 class="center-align header-font align">Sign In</h3>

                <div class="row align">
                    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
                        <div class="card-panel card-style">
                            <!-- username -->
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="fas fa-circle-user"></i>
                                    <input id="username" name="username" type="text" 
                                        pattern=".*\S+.*" class="validate focus-color" required autocomplete="off">
                                    <label for="username">Username</label>
                                </div>
                            </div>
                            <!-- password -->
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="fas fa-key"></i>
                                <input id="password" name="password" type="password" minlength="5" 
                                        maxlength="15" pattern=".*\S+.*" class="validate" required>
                                <label for="password">Password</label>
                                </div>
                            </div>
                            <!-- submit button -->
                            <div class="row">
                                <button type="submit" class="col s12 btn-large btn submit-btn">
                                    Sign In <i class="fa-solid fa-right-to-bracket"></i> 
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- link to sign up page if not yet registered -->
    <div class="row account-confirm">
        <div class="col s12">
            <p class="center-align">
                Have you not Registered? <a href="{{ url_for('register') }}">Create account!</a>
            </p>
        </div>
    </div>
    

{% endblock %}

{% block activeScript %}
<!-- logic for active class on open page only -->
<script>
    $('#home_page').removeClass('active');
    $('#sign_up').removeClass('active');
</script>
{% endblock %}