{% extends "base.html" %}
{% block content%}
    <div class="row">
        <div class="hero">
            <div class="opaque"></div>
            <div class="hero-about">
                <h2>Trip Discoverer</h2>
                <p>Trip Discoverer is a simple to use app. 
                    You can search for a trip from any of many categories. 
                    You can sign up, add and edit your own trip ideas to our to our database.</p>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col s10 m6 offset-m3 offset-s1">
          <ul class="collapsible">
            {% for trip in trips %}
            <li>
                <div class="collapsible-header trip-header">
                    {% if trip.category_name == "Parks" %}
                        <i class="fa-solid fa-tree"></i>
                    {% elif trip.category_name == "Walks" %}
                        <i class="fa-solid fa-person-walking"></i>
                    {% elif trip.category_name == "Beach" %}
                     <i class="fa-solid fa-umbrella-beach"></i>
                    {% elif trip.category_name == "Museums" %}
                        <i class="fa-solid fa-building-columns"></i>
                    {% elif trip.category_name == "Theme Parks" %}
                        <i class="fa-solid fa-truck-monster"></i>
                    {% else %}
                        <i class="fa-solid fa-futbol"></i>
                    {% endif %}
                    <h4>{{ trip.category_name }}</h4>
                    <p style="width:30%">{{ trip.trip_name }}</p>
                    <div class="review-stars">
                        {% if trip.trip_rating == "4" %}
                            <i class="fa-solid fa-star star-size"></i>
                            <i class="fa-solid fa-star star-size"></i>
                            <i class="fa-solid fa-star star-size"></i>
                            <i class="fa-solid fa-star star-size"></i>
                            <i class="fa-regular fa-star star-size"></i>
                        {% else %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        {% endif %}
                    </div>
                </div>
                <div class="collapsible-body trip-content">
                    {{ trip.region }}<br>
                    {{ trip.city }}<br>
                    {{ trip.address }}<br>
                    {{ trip.post_code }}<br>
                    {{ trip.trip_description }}<br>
                    {{ trip.trip_review }}<br>
                    <p><em>Trip added by: {{ trip.created_by }}</em></p>
                </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        
    

{% endblock %}
