{% extends "base.html" %}
{% block content%}
    <div class="row">
        <!-- hero image -->
        <div class="hero">
            <!-- opaque cover for hero image -->
            <div class="opaque"></div>
            <!-- search box -->
            <div class="row card-panel search-box">
                <form action="{{ url_for('search') }}" method="POST" class="col s12">
                    <div class="center-align">
                        <div class="input-field input-search col s12 m8">
                             
                            <input type="text" name="query" id="query" minlength="3" class="validate">
                            <label for="query">Search Trips</label>
                        </div>
                        <div class="col s12 m4">
                            <!-- button to activate search -->
                            <button type="submit" class="search-btn">
                                <i class="fas fa-search left"></i>
                            </button>
                            <!-- resets search -->
                            <a href="{{ url_for('find_trips') }}" class="reset-btn"><i class="fa-solid fa-xmark"></i></a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- information paragraph -->
            <div class="hero-about">
                <h2>Trip Discoverer</h2>
                <p>
                    {% if session.user %}
                        Welcome to Trip Discoverer! 
                        Discover, and search for trip ideas, from any of our categories.
                        You can add or edit your own trip ideas 
                        for others to discover.
                    {% else %}
                        Trip Discoverer is an easy-to-use app. 
                        Discover, and search for trip ideas, from any of our categories. 
                        Why not <em><u><a href="{{ url_for('register') }}" class="par-sign-in"> sign up,</a></u></em>
                         then add and edit your own trip ideas 
                        for others to discover.
                    {% endif %}
            </div>
        </div>
    </div>
    <!-- dispalyed trips section -->
    <div class="row display-section">
        <div class="col s10 m6 offset-m3 offset-s1">
            
            <!-- logic to dispaly all trips save in data base -->
            {% if trips|length > 0 %}
            <ul class="collapsible">
                {% for trip in trips %}
                <li>
                    <div class="collapsible-header trip-header">
                        <h4>{{ trip.category_name }}</h4>
                        <span>
                            <!-- logic to display relavant icon for category -->
                            {% if trip.category_name == "Parks" %}
                                <i class="fa-solid fa-tree"></i>
                            {% elif trip.category_name == "Walks" %}
                                <i class="fa-solid fa-person-walking"></i>
                            {% elif trip.category_name == "Beach" %}
                            <i class="fa-solid fa-umbrella-beach"></i>
                            {% elif trip.category_name == "Museums" %}
                                <i class="fa-solid fa-building-columns"></i>
                            {% elif trip.category_name == "Theme Parks" %}
                                <i class="fa-solid fa-truck-monster"></i>
                            {% else %}
                                <i class="fa-solid fa-futbol"></i>
                            {% endif %}
                        </span>
                        <div class="paragraphs">
                            <p class="trip-header-region">{{ trip.trip_name }}</p>
                            <p>{{ trip.region }}</p>
                        </div>

                        <div class="review-stars">
                            <!-- logic to display relavant number of rating stars -->
                            {% if trip.trip_rating == "1" %}
                                <i class="fa-solid fa-star star-size"></i>
                                <i class="fa-regular fa-star star-size"></i>
                                <i class="fa-regular fa-star star-size"></i>
                                <i class="fa-regular fa-star star-size"></i>
                                <i class="fa-regular fa-star star-size"></i>
                            {% elif trip.trip_rating == "2" %}
                                <i class="fa-solid fa-star star-size"></i>
                                <i class="fa-solid fa-star star-size"></i>
                                <i class="fa-regular fa-star star-size"></i>
                                <i class="fa-regular fa-star star-size"></i>
                                <i class="fa-regular fa-star star-size"></i>
                            {% elif trip.trip_rating == "3" %}
                                <i class="fa-solid fa-star star-size"></i>
                                <i class="fa-solid fa-star star-size"></i>
                                <i class="fa-solid fa-star star-size"></i>
                                <i class="fa-regular fa-star star-size"></i>
                                <i class="fa-regular fa-star star-size"></i>
                            {% elif trip.trip_rating == "4" %}
                                <i class="fa-solid fa-star star-size"></i>
                                <i class="fa-solid fa-star star-size"></i>
                                <i class="fa-solid fa-star star-size"></i>
                                <i class="fa-solid fa-star star-size"></i>
                                <i class="fa-regular fa-star star-size"></i>
                            {% else %}
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            {% endif %}
                        </div>
                        <div class="date-stamp"><em>Added on: {{ trip.added }}</em></div>
                    </div>
                    <div class="collapsible-body trip-content">
                        
                        <div class="trip-body dark">
                            {{ trip.trip_name }}<br>
                            {{ trip.city }}<br>
                        </div>

                        <div class="location light">
                            <div class="sub-header">Address</div>
                            <hr>
                            <br>
                            <div class="address">
                                {{ trip.address }}<br>
                                {{ trip.city }}<br>
                                {{ trip.post_code }}<br>
                            </div>
                        </div>
                        {% if trip.trip_description %}
                            <div class="description-block dark">
                                <div class="sub-header">Description</div>
                                <hr>
                                <br>
                                <div class="description">
                                    {{ trip.trip_description }}
                                </div>
                            </div>
                        {% endif %}
                        <div class="description-block light">
                            <div class="sub-header">Review</div>
                            <hr>
                            <br>
                            <div class="description">
                                {% if trip.trip_description %}
                                {{ trip.trip_review }}
                                {% else %}
                                <p>No reviews on this trip yet</p>
                                {% endif %}
                            </div>
                        </div>
                        {% if trip.website %}
                            <a href="{{ trip.website }}" class="btn-large web-btn dark" target="_blank">
                                Website <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                        {% endif %}
                        <p class="dark"><em>Trip added by: {{ trip.created_by }}</em></p>
                        {% if session.user|lower == trip.created_by|lower %}
                            <!-- edit trip button -->
                            <a href="{{ url_for('edit_trip', trip_id=trip._id)}}" 
                                class="btn-large btn">Edit Trip <i class="fa-regular fa-keyboard"></i></a>


                                <!-- button to activate delete confirmation -->
                            <div class="btn-large cancel-btn confirm-btn" onclick="myDelete()">
                                Delete Trip <i class="fa-solid fa-trash"></i>
                            </div>

                            <!-- delete confirmation box using javascript -->
                            <div class="delete dark delete-confirm">
                                
                                <p>Are you sure you want to delete this trip?</p>

                                <!-- cancel delete button -->
                                <a href="{{ url_for('find_trips') }}" 
                                    class="btn-large cancel-btn">
                                    Cancel <i class="fa-solid fa-rectangle-xmark"></i>
                                <!-- final delete button -->
                                <a href="{{ url_for('delete_trip', trip_id=trip._id)}}" 
                                    class="btn-large cancel-btn">
                                    Delete Trip <i class="fa-solid fa-trash"></i>
                                </a>
                                
                            </div>
                           
                        <!-- delete and edit permission for admin -->
                        {% elif session.user|lower == "admin"|lower%}
                            <!-- edit trip button -->
                            <a href="{{ url_for('edit_trip', trip_id=trip._id)}}" 
                                class="btn-large btn">Edit Trip <i class="fa-regular fa-keyboard"></i></a>


                                <!-- button to activate delete confirmation -->
                            <div class="btn-large cancel-btn confirm-btn" onclick="myDelete()">
                                Delete Trip <i class="fa-solid fa-trash"></i>
                            </div>

                            <!-- delete confirmation box using javascript -->
                            <div class="delete dark delete-confirm">
                                
                                <p>Are you sure you want to delete this trip?</p>

                                <!-- cancel delete button -->
                                <a href="{{ url_for('find_trips') }}" 
                                    class="btn-large cancel-btn">
                                    Cancel <i class="fa-solid fa-rectangle-xmark"></i>
                                <!-- final delete button -->
                                <a href="{{ url_for('delete_trip', trip_id=trip._id)}}" 
                                    class="btn-large cancel-btn">
                                    Delete Trip <i class="fa-solid fa-trash"></i>
                                </a>
                                
                            </div>
                            
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
                <h3 class="empty-search">
                    No Trips found! <a href="{{ url_for('find_trips') }}">Search Again</a>
                </h3>
            {% endif %}
        </div>
        <div class="filters-section">
            <h4 class="sub-header">Filter Categories</h4>
            <a href="{{ url_for('find_trips') }}" class="btn">Reset</a>
            <hr>
            <form action="{{ url_for('search') }}" method="POST">
                <input type="text" name="query" class="hide" value="beach">
                <button type="submit" class="filter-btn">
                    Beaches
                </button>    
            </form>

            <form action="{{ url_for('search') }}" method="POST">
                <input type="text" name="query" class="hide" value="museums">
                <button type="submit" class="filter-btn" onclick="searchFilter()">
                    Museums
                </button>    
            </form>

            <form action="{{ url_for('search') }}" method="POST">
                <input type="text" name="query" class="hide" value="parks">
                <button type="submit" class="filter-btn" onclick="searchFilter()">
                    Parks
                </button>    
            </form>
            <form action="{{ url_for('search') }}" method="POST">
                <input type="text" name="query" class="hide" value="sport">
                <button type="submit" class="filter-btn" onclick="searchFilter()">
                    Sport
                </button>   
            </form>

            <form action="{{ url_for('search') }}" method="POST">
                <input type="text" name="query" class="hide" value="theme">
                <button type="submit" class="filter-btn" onclick="searchFilter()">
                    Theme parks
                </button>   
            </form>

            <form action="{{ url_for('search') }}" method="POST">
                <input type="text" name="query" class="hide" value="walks">
                <button type="submit" class="filter-btn" onclick="searchFilter()">
                    Walks
                </button>   
            </form>
        </div>
    
{% endblock %}

{% block activeScript %}
<script>
    $('#add_trip').removeClass('active');
    $('#sign_in').removeClass('active');
    $('#user_list').removeClass('active');
    $('#sign_up').removeClass('active');
</script>
{% endblock %}
