{% extends "base.html" %}
{% block content%}
    <div class="row">
        <div class="hero">
            <div class="opaque"></div>
            <div class="hero-about">
                <h2>Trip Discoverer</h2>
                <p>
                    Trip Discoverer is an easy-to-use app. 
                    You can discover trip ideas from any of our categories. 
                    Why not <a href="{{ url_for('register') }}"> sign up,</a> then add and edit your own trip ideas 
                    for others to discover.
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col s10 m6 offset-m3 offset-s1">
          <ul class="collapsible">
            {% for trip in trips %}
            <li>
                <div class="collapsible-header trip-header">
                    <h4>{{ trip.category_name }}</h4>
                    <span>
                        {% if trip.category_name == "Parks" %}
                            <i class="fa-solid fa-tree"></i>
                        {% elif trip.category_name == "Walks" %}
                            <i class="fa-solid fa-person-walking"></i>
                        {% elif trip.category_name == "Beach" %}
                        <i class="fa-solid fa-umbrella-beach"></i>
                        {% elif trip.category_name == "Museums" %}
                            <i class="fa-solid fa-building-columns"></i>
                        {% elif trip.category_name == "Theme Parks" %}
                            <i class="fa-solid fa-truck-monster"></i>
                        {% else %}
                            <i class="fa-solid fa-futbol"></i>
                        {% endif %}
                    </span>
                    <div class="paragraphs">
                        <p class="trip-header-region">{{ trip.trip_name }}</p>
                        <p>{{ trip.region }}</p>
                    </div>
                    <div class="review-stars">
                        {% if trip.trip_rating == "1" %}
                            <i class="fa-solid fa-star star-size"></i>
                            <i class="fa-regular fa-star star-size"></i>
                            <i class="fa-regular fa-star star-size"></i>
                            <i class="fa-regular fa-star star-size"></i>
                            <i class="fa-regular fa-star star-size"></i>
                        {% elif trip.trip_rating == "2" %}
                            <i class="fa-solid fa-star star-size"></i>
                            <i class="fa-solid fa-star star-size"></i>
                            <i class="fa-regular fa-star star-size"></i>
                            <i class="fa-regular fa-star star-size"></i>
                            <i class="fa-regular fa-star star-size"></i>
                        {% elif trip.trip_rating == "3" %}
                            <i class="fa-solid fa-star star-size"></i>
                            <i class="fa-solid fa-star star-size"></i>
                            <i class="fa-solid fa-star star-size"></i>
                            <i class="fa-regular fa-star star-size"></i>
                            <i class="fa-regular fa-star star-size"></i>
                        {% elif trip.trip_rating == "4" %}
                            <i class="fa-solid fa-star star-size"></i>
                            <i class="fa-solid fa-star star-size"></i>
                            <i class="fa-solid fa-star star-size"></i>
                            <i class="fa-solid fa-star star-size"></i>
                            <i class="fa-regular fa-star star-size"></i>
                        {% else %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        {% endif %}
                    </div>
                </div>
                <div class="collapsible-body trip-content">
                    <!-- {{ trip.region }}<br> -->
                    <h4 class="trip-body">{{ trip.trip_name }}</h4>
                    {{ trip.city }}<br>
                    {{ trip.address }}<br>
                    {{ trip.post_code }}<br>
                    {% if trip.trip_description %}
                        <div class="description-block">
                            <h4>Description</h4>
                            {{ trip.trip_description }}
                        </div>
                    {% endif %}
                    {{ trip.trip_review }}<br>
                    {% if trip.website %}
                        <a href="{{ trip.website }}" class="btn-large web-btn" target="_blank">Website</a>
                    {% endif %}
                    <p><em>Trip added by: {{ trip.created_by }}</em></p>
                    {% if session.user|lower == trip.created_by|lower %}
                        <a href="{{ url_for('edit_trip', trip_id=trip._id)}}" 
                            class="btn-large btn">Edit Trip <i class="fa-regular fa-keyboard"></i></a>
                        <a href="{{ url_for('delete_trip', trip_id=trip._id)}}"
                            class="btn-large cancel-btn">Delete Trip <i class="fa-solid fa-trash"></i></a>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        
    

{% endblock %}
