{% extends "base.html" %}
{% block content %}
<div class="row push">
    {% for user in users %}
        <div class="col s6 m4">
        <div class="card users-card-style">
            <div class="card-content white-text">
                <span class="card-title">{{ user.username }}</span>
                <p>{{ user.email }}</p>
                <!-- {% for trip in trips %}
                    {% if user.username|lower == trip.created_by|lower %}
                        <p>{{ trip.trip_name}}</p>
                    {% endif %}
                {% endfor %} -->
            </div>
            <div class="card-action">
                <form action="{{ url_for('search') }}" method="POST">
                    <input type="text" name="query" class="hide" value="{{ user.username }}">
                    <button type="submit" class="btn card-btn user-search">
                        Search User
                    </button>
                    <span class="tick"></span>
                </form>
                <!-- <a href="#" class="btn card-btn">Edit User</a> -->
                <a href="{{ url_for('delete_user', user_id=user._id)}}" class=" btn cancel-btn card-btn">Delete User</a>
            </div>
        </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block activeScript %}
<script>
    $('#home_page').removeClass('active');
    $('#add_trip').removeClass('active');
</script>
{% endblock %}