{% extends "base.html" %}
{% block content %}
<div class="row push">
    {% for user in users %}
        <div class="col s6 m4">
        <div class="card card-style">
            <div class="card-content white-text">
                <span class="card-title">{{ user.username }}</span>
                <p>{{ user.email }}</p>
                <!-- {% for trip in trips %}
                    {% if user.username|lower == trip.created_by|lower %}
                        <p>{{ trip.trip_name}}</p>
                    {% endif %}
                {% endfor %} -->
            </div>
            <div class="card-action">
                <a href="#" class="btn card-btn">Edit User</a>
                <a href="#" class=" btn cancel-btn card-btn">Delete User</a>
            </div>
        </div>
        </div>
    {% endfor %}
</div>
{% endblock %}